<!--<ul class="pager" id="page_header" ng-style="calcHeaderStyle()">
   <a href ng-click="goBack()"><img src="images/visor_mockheader.png?1" style="top:10px; left:0px; position: absolute;"></a></ul>a>
   <input type="text" style="position:absolute; width:355px; left:340px; top:37px; border: none;" value="{{class_name}}">
</ul>-->

<button type="button" class="btn btn-default home-button" aria-label="Home" ng-click="goHome()">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
</button>
<form autocomplete="off" class="results-page-search">
    <div class="input-group">
        <input type="text" placeholder="search term" ng-model="query_editable" class="form-control">
        <span class="input-group-btn">
            <input type="submit" value="Search" ng-click="search(query_editable)" class="btn btn-default">
        </span>
    </div>
</form>

<div class="spinner progress-spinner" ng-show="ranking.rlist.length === 0">
    <img src="images/ajax-loader.gif">
</div>

<!--<div class="train-preview-box" ng-show="(ranking.rlist.length === 0) && (last_processed_image !== null)">
    <img src="{{last_processed_image}}">
</div>-->

<div class="container" ng-show="ranking.rlist.length > 0">
    <ul class="row imgrid">
        <li ng-repeat="ritem in ranking.rlist" class="col-lg-2 col-md-2 col-sm-3 col-xs-4" ng-hide="(hide_fns && (ritem.fn == 1)) || (show_ono_distractors && (ritem.is_distractor != 1))">
            <div>
                <ranking-image src="{{getImgSrc(ritem)}}"
                               anno="{{ritem.anno}}"
                               path="{{ritem.path}}"
                               score="{{ritem.score}}"></ranking-image>
            </div>
        </li>
    </ul>
    <div class="page-bottom-container">
        <button type="button" class="btn btn-default" ng-click="loadMore()">Load More...</button>
    </div>
</div>