<!--<ul class="pager" id="page_header" ng-style="calcHeaderStyle()">
   <a href ng-click="goBack()"><img src="images/visor_mockheader.png?1" style="top:10px; left:0px; position: absolute;"></a></ul>a>
   <input type="text" style="position:absolute; width:355px; left:340px; top:37px; border: none;" value="{{class_name}}">
</ul>-->

<div class="spinner" style="position: absolute; left: 550px; top: 250px;" ng-show="ranking.rlist.length === 0">
    <img src="images/ajax-loader.gif">
</div>

<div class="container" ng-show="ranking.rlist.length > 0">
    <ul class="row imgrid">
        <li ng-repeat="ritem in ranking.rlist" class="col-lg-2 col-md-2 col-sm-3 col-xs-4" ng-hide="(hide_fns && (ritem.fn == 1)) || (show_ono_distractors && (ritem.is_distractor != 1))">
            <div>
                <ranking-image src="{{getImgSrc(ritem)}}"
                               anno="{{ritem.anno}}"
                               path="{{ritem.path}}"
                               score="{{ritem.score}}"></ranking-image>
            </div>
        </li>
    </ul>
    <div class="page-bottom-container">
        <button type="button" class="btn btn-default" ng-click="loadMore()">Load More...</button>
    </div>
</div>